<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="exampleInitBean" class="com.example.homework62.life_cycle.CustomInitializingBean"/>
    <bean id="exampleDestroyBean" class="com.example.homework62.life_cycle.CustomDisposableBean"/>
    <bean id="a" class="com.example.homework62.life_cycle.A"/>
</beans>